:root {
    --homepage-intro-pb: 100px;

    --white: #FFFFFF;
    --yellow: #FCCE02;
    --sky: #00a9e0;
    --navy: #052681;
    --mint: #c8fec8;
    --cream: #fce99c;
    --salmon: #f7b5a7;
    --light-blue-footer: #b4ebfd;
    --grass: #7ce47c;
}

body {
    background-color: var(--navy);
    color: var(--white);
    font-weight: 300;
    line-height: 1.5;
}

main {
    display: block;
    overflow: hidden;
}

section,
.footer-inner {
    position: relative;
    padding: 100px 30px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Cherry Bomb One', cursive;
}

main {
    position: relative;
    z-index: 0;
}


svg {
    fill: var(--navy);
}

#mobile-menu svg {
    fill: var(--white);
}

::selection {
    background-color: var(--brightBlue);
    color: var(--white);
}