body {
    background-color: var(--bgColor);
    color: var(--white);
    font-weight: 300;
    line-height: 1.5;
}

main {
    display: block;
    overflow: hidden;
}

section,
.footer-inner {
    position: relative;
    padding: 100px 30px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Cherry Bomb One', cursive;
}

main {
    position: relative;
    z-index: 0;
}

::selection {
    background-color: var(--brightBlue);
    color: var(--white);
}


@media screen and (max-width: 768px) {
    section {
        position: relative;
        padding: 60px 20px;
    }
}

@media screen and (max-width: 500px) {
    section {
        position: relative;
        padding: 30px 15px;
    }
}