:root {
    --homepage-intro-pb: 100px;

    --white: #FFFFFF;
    --whitesmoke: #f5f5f5;
    --lightGrey: #F2F3F5;
    --yellow: #FFD600;
    --glacial: #BFEAFF;
    --signature: #0057C8;
    --dark-blue: #031B3D;
    --bannerHeight: 200px;
}

body {
    background: var(--white);
    color: var(--dark-blue);
    font-weight: 300;
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section,
.footer-inner {
    position: relative;
    padding: 50px 30px;
}



#powderDetergents,
#liquidDetergents {
    overflow: hidden;
    position: relative;
}

#powderDetergents h3,
#liquidDetergents h3 {
    position: absolute;
    color: var(--glacial);
    opacity: .5;
    font-size: clamp(80px, 17vw, 250px);
    z-index: -1;
}

main {
    position: relative;
    z-index: 0;
}


svg {
    fill: var(--dark-blue);
}

#mobile-menu svg {
    fill: var(--white);
}

.vh {
    height: 0;
    overflow: hidden;
    position: absolute;
    margin: 0;
}

img {
    width: 100%;
    object-fit: cover;
}

.monument {
    font-family: 'Monument extended';
}

.hk {
    font-family: 'HK Grotesk Wide';
}

.titan {
    font-family: "Titan One", sans-serif;
}

.spartan {
    font-family: "League Spartan", sans-serif;
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: unset;
}

.relative {
    position: relative;
}

::selection {
    background-color: var(--glacial);
}


.shadow {
    text-shadow: 0 6px 6px hsl(from black h s l / 15%);
}

.readable {
    font-weight: 400;
    font-size: clamp(20px, 3.5vw, 26px);
    line-height: 1.2;
}

.full-description {
    display: flex;
    width: 100%;
    padding: 20px;
    margin: auto;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.full-description .readable {
    font-size: 30px;

}

.full-description .logo {
    width: 100px;
    height: fit-content;
    display: block;
    margin: 0 auto;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: center/cover no-repeat url('../assets/img/jpg/foam-background.jpg');
    width: 100%;
    height: 100vh;
}