#bestSeller,
#otherLaundryPowders {
    padding: 140px 30px;
    position: relative;
}

.best-seller-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
}

.best-seller-ctn {
    position: relative;
    width: 80%;
    aspect-ratio: 1;
    z-index: 1;
    margin-left: auto;
}

.best-seller-decorative-bg {
    position: absolute;
    pointer-events: none;
    object-fit: contain;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 0;
    opacity: 1;
    /* scale: 0.2;
    animation: explode 5s cubic-bezier(.01, 1, .9, 1) infinite; */
}

/* .decorative-2 {
    animation-delay: 4s;
} */

@keyframes explode {
    90% {
        scale: 1;
    }

    95% {
        scale: 0.2;
    }
}


.best-seller-product {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

#otherLaundryPowders {
    z-index: 2;
    /* overflow: hidden; */
    padding-top: 360px;
    background: linear-gradient(to bottom, hsl(from var(--mint) h s l/0%), hsl(from var(--mint) h s l/100%));
}

.best-seller-badge {
    position: absolute;
    top: -0;
    left: -0;
    width: fit-content;
    height: fit-content;
    transform: rotate(-19deg);
    /* background: center/cover no-repeat url('/assets/svg/best-seller-tag.svg'); */
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    translate: 50px 50px;
    line-height: .8;
    color: var(--navy);
    font-size: 28px;
    z-index: 2;
}

.best-seller-badge span {
    -webkit-text-stroke: 4px white;
    paint-order: stroke fill;
}

.best-seller-badge img {
    width: 160%;
    height: auto;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    display: block;
    position: absolute;
    z-index: -1;
    filter: drop-shadow(0 0 20px #00000030);

}

.best-seller-content {
    position: relative;
    z-index: 2;
}

.best-seller-content h2 {
    margin-bottom: 16px;
    width: 10ch;
}

.best-seller-content p {
    font-size: clamp(1rem, 2.1vw, 30px);
    color: var(--navy);
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 30px;
}

.product-link {
    display: inline-block;
    border: 3px solid var(--navy);
    border-radius: 78px;
    width: 220px;
    line-height: 50px;
    color: var(--navy);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    background: hsl(from var(--navy) h s l/0%);
    transition: background-color 0.2s ease, color 0.2s ease;
    text-align: center;
}

.product-link:hover {
    background: var(--navy);
    color: var(--white);
}

#laundryPowders {
    position: relative;
    padding: 140px 0 0;
}

.powders-bg-text {
    font-size: clamp(120px, 19vw, 280px);
    text-transform: uppercase;
    background: linear-gradient(to bottom, white, #FFFFFF00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    line-height: .6;
    opacity: .5;
}


.powders-bg-text--offset {
    padding-left: .8ch;
}

.powders-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: end;
    gap: 30px;
    position: relative;
    perspective: 2000px;
    perspective-origin: 50% -50%;
    height: 70vh;
}

#powderScrollableTitle {
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
}

.product-item-CTN {
    width: fit-content;
    height: fit-content;
    transition: translate 1s linear;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    text-align: center;
    width: 400px;
    transition: translate 1s cubic-bezier(.01, 1.37, .72, 1.33);
}

.product-item-CTN[data-pos="2"],
.product-item-CTN[data-pos="5"] {
    translate: 0 0 -1200px;
    z-index: 1;
}

.product-item-CTN[data-pos="2"] .product-item,
.product-item-CTN[data-pos="5"] .product-item {
    translate: -160% 0 0;
}

.product-item-CTN[data-pos="1"],
.product-item-CTN[data-pos="4"] {
    transition: translate 1s cubic-bezier(.01, 1.37, .72, 1.33);
    translate: 0 0 0;
    z-index: 2;
}

.product-item-CTN[data-pos="1"] .product-item,
.product-item-CTN[data-pos="4"] .product-item {
    transition: translate 1s linear;
    translate: 0 0 0;
}

.product-item-CTN[data-pos="3"],
.product-item-CTN[data-pos="6"] {
    translate: 0 0 -2000px;
}

.product-item-CTN[data-pos="3"] .product-item,
.product-item-CTN[data-pos="6"] .product-item {
    translate: 180% 0 0;
}

.product-item .product-img-ctn {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

/* @keyframes moveToPos2 {

    50% {
        transform: translateX(60%);
        translate: 0 0 -120px;
    }

    100% {
        transform: translateX(160%);
        translate: 0 0 -200px;
    }
} */

.product-item .product-img-ctn img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}

/* .product-item--featured .product-img-ctn img {
    width: 180%;
} */

/* #product5kg .product-img-ctn img {
    transform: rotate(-29deg);
} */

.product-item .product-details h3 {
    font-size: 32px;
    color: var(--navy);
    text-transform: none;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 8px;
    -webkit-text-stroke: 4px white;
    paint-order: stroke fill;
    filter: drop-shadow(0 6px 8px hsl(from black h s l / 20%));
}

.product-item .product-details p {
    font-size: 16px;
    color: var(--navy);
    font-weight: 500;
    line-height: 1.4;
    height: 3lh;
    overflow: hidden;
    text-overflow: ellipsis;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}