#blog-article-hero h1 {
    font-size: 34px;
    width: 30ch;
}


.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px 50px;

}

.article-link {
    display: block;
    padding: 24px;
    height: 100%;

}

.article-link-ctn {
    box-shadow: 0 8px 20px #00000015;
}

.article-link-ctn:hover {
    display: block;
    background-color: var(--glacial);
}

.article-section h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.article-section-content-block {
    display: grid;
    align-items: center;
    margin-bottom: 80px;
}

.left .article-section-content-block {
    grid-template-columns: 60% 40%;
    grid-template-areas: "img block1"
        "block2 .";
}

.right .article-section-content-block {
    grid-template-columns: 40% 60%;
    grid-template-areas: "block1 img"
        " . block2";
}



.section-subtitle,
.article-section-intro-block {
    margin-bottom: 20px;
}

.article-section-intro-block {
    width: 500px;
}

.article-section-block {
    padding: 24px;
    background: var(--white);
    box-shadow: 0 8px 24px #00000015;
    position: relative;
    z-index: 2;
    height: fit-content;
    max-width: 40vw;
}

.left .article-section-content-block .article-section-block:first-of-type {
    translate: -10% 0;
    grid-area: block1;
}

.left .article-section-content-block .article-section-block:last-of-type {
    translate: 5% -10%;
    grid-area: block2;
}

.left .article-img {
    grid-area: img;
}

.right .article-section-content-block .article-section-block:first-of-type {
    translate: 10% 0;
    grid-area: block1;
}

.right .article-section-content-block .article-section-block:last-of-type {
    translate: 5% -10%;
    grid-area: block2;
}

.right .article-img {
    grid-area: img;
}

.conclude {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px 16px;
    grid-template-areas: ". intro intro ."
        "block1 block1 block2 block2";
}

.conclude .article-section-intro-block {
    grid-area: intro;
    margin: 0 auto;
    text-align: center;
}

.conclude .article-section-block {
    max-width: unset;
    width: 100%;
    height: 100%;
}

.conclude .article-section-block:nth-last-of-type(1) {
    grid-area: block1;
}

.conclude .article-section-block:nth-last-of-type(2) {
    grid-area: block2;
}

.article-section.contained {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--glacial);
    padding: 24px;
    margin-bottom: 50px;
    max-width: 750px;
}

.article-pagination {
    display: flex;
    gap: 100px;
    margin: 0 auto;
    justify-content: center;
}

.article-pagination-prev,
.article-pagination-next {
    line-height: 40px;
    font-size: 20px;
}