#blog-page {
    background-image: url('../assets/img/jpg/community-large.jpg');
    background-image: url('../assets/img/webp/community-large-desktop.webp');
    background-size: contain;
}

#blog-page .hero {
    background: none;
    height: fit-content;
    padding: 0;
}

#blog-page .hero-content {
    max-width: 90%;
}

#blog-page .hero-content .section-title {
    max-width: unset;
}


#article-body {
    padding: clamp(48px, 6vw, 80px) clamp(24px, 6vw, 80px);
    display: flex;
    flex-direction: column;
    gap: clamp(40px, 5vw, 64px);
}

.blog-intro,
.article-pagination,
.article-section {
    margin: 0 auto;
    max-width: 860px;
    width: 90%;
}

.blog-intro {
    margin: 0 auto 100px;
    max-width: 860px;
    padding: clamp(20px, 2.5vw, 28px) clamp(24px, 3vw, 32px);
    border-radius: 4px;
    background: var(--brightBlue);
    font-size: 20px;
}

.article-title.section-title {
    margin-bottom: 50px;
}

.article-section-block {
    padding: 20px;
    border-radius: 4px;
    border: 2px solid;
    background: hsl(from white h s l /10%);
    backdrop-filter: blur(20px);
    margin-bottom: 30px;
}

.article-section-block .section-subtitle {
    text-transform: unset;
    margin-bottom: 16px;
}

.article-section-block p {
    font-size: 18px;
}

.article-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.article-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: clamp(24px, 3vw, 40px) clamp(24px, 6vw, 80px) clamp(48px, 6vw, 80px);
}

.article-pagination-prev span,
.article-pagination-next span {
    opacity: 0.7;
}

.article-pagination-prev,
.article-pagination-next {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    transition: opacity 0.2s ease;
}

.article-pagination-prev:hover,
.article-pagination-next:hover {
    opacity: 1;
}

.article-pagination-prev img,
.article-pagination-next img {
    height: 24pxpx;
    width: auto;
    opacity: 1;
}