#comments {
    position: relative;
    overflow-x: hidden;
    align-content: center;
    background-color: var(--signature);
    text-align: center;
    overflow: hidden;
    height: 280px;
    color: var(--white);
}

blockquote {
    font-size: 20px;
    line-height: 1.1;
}

#comments .ticker-dot {
    scale: .6;
    color: var(--dark-blue);
    opacity: .5;
    margin: 0 30px;
    display: none;
}


.comment-grid-scrollable {
    width: 100%;
    padding: 0 30px;
}

.comments-grid {
    gap: 0;
    align-items: center;
    position: relative;
    display: flex;
    height: fit-content;
    overflow-x: auto;
    scrollbar-width: none;
    width: fit-content;
    gap: 50px;
}

.comment-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 300px;
    margin: 0 25px;

}