.faq-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
}

.faq-item:nth-of-type(even) {
    margin-top: 80px;
}

#faq-content {
    padding: 0;
    margin: 80px auto;
    width: 90%;
}

.article-name,
#faq-content h2 {
    font-size: 30px;
    margin-bottom: 30px;
}