#home-hero {
    position: relative;
    height: 100vh;
    background: var(--sky);
    display: flex;
    align-items: center;
    padding: 0 30px;


}

.hero {
    position: relative;
    padding-bottom: 0;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    translate: 0 -18%;
    height: auto;
    object-fit: cover;
    pointer-events: none;
    z-index: 0;
    /* filter: drop-shadow(0 5px 5px #00000050); */
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 600px;
    margin: 14vw auto 0;
}

.hero h1 {
    text-shadow: 0 6px 6px hsl(from black h s l / 15%);
    margin-bottom: 20px;
}

.drop-CTN {
    margin: 20px auto;
    position: relative;
    width: fit-content;
}

.drop-CTN img {
    pointer-events: none;
}

.hero-product {
    /* position: static; */
    z-index: 2;
    /* right: 0; */
    width: 45vw;
    height: 45vw;
    /* translate: 0 3vw; */
    text-align: center;
    max-width: 550px;
}

.hero-product img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    z-index: 10;
    max-width: 60vw;
}

#home-hero h1 {
    font-size: clamp(3.5rem, 9.4vw, 170px);
    color: var(--sky);
    text-transform: none;
    line-height: 1;
    /* text-shadow: 0 6px 6px hsl(from black h s l / 15%); */
    display: flex;
    width: fit-content;
}

.reflected {
    transform: scaleY(-1);
    opacity: 0.6;
    mask-image: linear-gradient(to bottom, hsl(from var(--sky) h s l / 50%), var(--sky));
    translate: 0 -2.25%;
}

#home-hero .drop-fr,
#home-hero .drop-en {
    position: relative;
    color: hsl(from var(--sky) h s l/0%);
    filter: none;
    text-shadow: none;
    user-select: none;
    position: relative;
    z-index: 0;
}

.hero-text:has(.drop-fr) {
    translate: 0 3vw;
}

#home-hero .drop-fr::before,
#home-hero .drop-en::before {
    content: '';
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    translate: -2vw 2vw;
    background: center/contain no-repeat url('../assets/svg/h1.svg');
}

#home-hero .drop-en::before {
    background: center/contain no-repeat url('../assets/svg/h1-en.svg');
}