#hero {
    position: relative;
    height: 100vh;
    /* overflow: hidden; */
    background: var(--sky);
    /* z-index: 5; */
    display: flex;
    align-items: center;
    padding: 0 30px;
    /* gap: 100px; */

}

.hero {
    position: relative;
    padding-bottom: 0;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    translate: 0 -18%;
    height: auto;
    object-fit: cover;
    pointer-events: none;
    z-index: 0;
    /* filter: drop-shadow(0 5px 5px #00000050); */
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 600px;
    margin: 100px auto 0;
}

.hero h1 {
    text-shadow: 0 6px 6px hsl(from black h s l / 15%);
    margin-bottom: 20px;
}

.drop-CTN {
    margin: 20px auto;
    position: relative;
    width: fit-content;
}

.drop-CTN::after {
    content: url('../assets/img/png/spark-small-desktop.png');
    bottom: 0;
    right: 0;
    translate: 45% 25%;
}

.hero-product {
    position: absolute;
    z-index: 2;
    right: 0;
    top: 50%;
    width: 45vw;
    height: 45vw;
    translate: 0 -50%;
    text-align: center;
    max-width: 550px;
}

.hero-product img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-text {
    z-index: 10;
}

#hero h1 {
    font-size: clamp(3.5rem, 9.4vw, 136px);
    color: var(--white);
    text-transform: none;
    line-height: 1;
    text-shadow: 0 6px 6px hsl(from black h s l / 15%);
    display: flex;
    flex-wrap: wrap;
    height: 2lh;
}

.reflected {
    transform: scaleY(-1);
    opacity: 0.6;
    mask-image: linear-gradient(to bottom, hsl(from var(--sky) h s l / 50%), var(--sky));
    translate: 0 -2.25%;
}