#powderDetergents h3 {
    left: 22vw;
    top: 0;
    translate: 0 -25%;
}

h2 .monument {
    font-size: clamp(24px, 4vw, 40px);
    line-height: 100%;
    color: var(--dark-blue);
    font-weight: 700;
}

h2 * {
    line-height: 100%;
}

.products-grid {
    display: flex;
    gap: 30px;
    width: fit-content;
    padding: 0 60px;
    position: relative;
    transition: translate .8s ease-in-out;
}

.view-buttons {
    position: absolute;
    top: 200px;
    right: 25px;
    display: flex;
    z-index: 2;
}

.view-buttons button {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-buttons svg {
    stroke: var(--dark-blue);
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    scale: 2;
}

.view-buttons button:not([disabled]):hover {
    background: var(--dark-blue);
}

.view-buttons button:not([disabled]):hover svg {
    stroke: var(--white);
}

[disabled] {
    opacity: .1;
    pointer-events: none;
}

.product {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 260px;
    position: relative;
}

.product-img-container {
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background: var(--whitesmoke);
    margin-bottom: 16px;
    align-content: center;
    text-align: center;
    position: relative;
}

.product-img-container img {
    width: 85%;
    position: relative;
    z-index: 2;
}

.product-title {
    font-size: 40px;
    margin-bottom: 4px;
    font-weight: 700;
}

.product-type {
    font-size: 20px;
    margin-bottom: 12px;
    text-transform: unset;
    font-weight: 400;
}

.product-description {
    margin-bottom: 24px;
    text-align: center;
    font-size: 18px;
    height: 3lh;
}

.product-link {
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    background: var(--signature);
    display: block;
    align-content: center;
    text-align: center;
    width: fit-content;
    height: 54px;
    line-height: 54px;
    width: 260px;
    border-radius: 30px;
    transition: background-color .2s ease-in-out;
}

.product-link:hover {
    background: var(--dark-blue);
}

.tag {
    background: red;
    color: var(--white);
    text-transform: uppercase;
    font-family: "Archivo Black", sans-serif;
    font-style: italic;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    rotate: -20deg;
    font-weight: 900;
    line-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.best-seller .tag {
    translate: -35% -35%;
    width: 120px;
    aspect-ratio: 1;
    font-size: 30px;
    border-radius: 50%;
    align-items: center;

}

.tag span:first-of-type {
    font-size: 30px;
}

.tag span:nth-of-type(2) {
    font-size: 22px;
}

.concentree .tag,
.nouveau .tag {
    align-items: flex-start;
    translate: -15% -15%;
    rotate: -14deg;
    padding: 10px 20px;
    gap: 8px;
    border-radius: 30px;
    min-height: 50px;
}

.concentree span:first-of-type,
.concentree span:nth-of-type(2),
.nouveau span:nth-of-type(2),
.nouveau span:first-of-type {
    font-size: 20px;
}