#liquidLaundry {
    background: var(--mint);
    overflow: hidden;
    padding-bottom: 200px;
}

#liquidLaundryGrid {
    display: grid;
    grid-template-columns: .9fr 1.1fr;
    align-items: center;
    gap: 80px;
    position: relative;
    z-index: 2;
    margin-top: 25vw;
}

.liquid-wave {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: auto;
}

.liquid-bg-text {
    font-size: clamp(120px, 19.4vw, 280px);
    text-transform: uppercase;
    line-height: .6;
    font-weight: 400;
    background: linear-gradient(to bottom, white, #FFFFFF00);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    pointer-events: none;
    white-space: nowrap;
    z-index: 2;
}

.liquid-bg-text--offset {
    padding-left: .8ch;
}

.liquid-content {
    max-width: 500px;
    margin-top: 20vw;
}

#liquidLaundryResponsiveTitle {
    text-align: right;
    display: none;
    position: absolute;
    top: 0;
    translate: 0 -100%;
    font-family: 'Cherry Bomb One', cursive;
    color: white;
    filter: drop-shadow(0 0px 8px #00000090);
    /* text-transform: uppercase; */
    width: fit-content;
    /* margin-left: auto; */
}

.liquid-content h3 {
    font-size: clamp(40px, 3.9vw, 57px);
    color: var(--navy);
    text-transform: none;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 16px;
    white-space: nowrap;
    filter: drop-shadow(0px 4px 0 white) drop-shadow(0px -4px 0 white) drop-shadow(4px 0px 0 white) drop-shadow(-4px 0px 0 white) drop-shadow(0px 0px 1px white) drop-shadow(0 8px 8px hsl(from black h s l / 20%));
}

img.shadowing {
    z-index: -1;
    position: absolute;
    transform: rotateY(-36deg) rotateX(88deg);
    transform-origin: bottom center;
    translate: 30% 0 -5000px;
    height: 500%;
    opacity: .1;
    filter: blur(32px) brightness(0);
    scale: 1 20;
}

.liquid-content p {
    font-size: clamp(1rem, 1.6vw, 23px);
    color: var(--navy);
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 30px;
}

.liquid-product {
    position: relative;
    z-index: 4;
    aspect-ratio: 1;
    height: 100%;
    width: 80%;
}

.liquid-product img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.liquid-product img.reflected {
    translate: 0 -4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: bottom center;
    mask-image: linear-gradient(to bottom, hsl(from var(--mint) h s l / 0%), var(--mint))
}

#liquidLaundry h2 {
    position: absolute;
    translate: 0 -70%;
}