#resellers {
    padding: unset;
    background: var(--white);
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100%;
    color: var(--brightBlue);
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

#resellers>* {
    padding: 120px 30px;
}

#resellers .section-title {
    background: var(--brightBlue);
    text-transform: none;
    color: white;
    text-align: left;
    align-content: center;
}

.reseller-content p {
    margin-bottom: 80px;
}

.resellers-row {
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-areas: "u leader"
        "leclerc leclerc"
        "promocash promocash"
        "carrefour carrefour";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100px 40px 40px 40px;
    justify-content: center;
    row-gap: 30px;
}

.u {
    grid-area: u;
}

.carrefour {
    grid-area: carrefour;
    grid-column: 1/span 2;
}

.leclerc {
    grid-area: leclerc;
    grid-column: 1/span 2;
}

.promocash {
    grid-area: promocash;
    grid-column: 1/span 2;
}

.leader {
    grid-area: leader;
}


.square-logo {
    height: auto;
    max-height: 100px;
    margin: 0 auto;
}

.wide-logo {
    width: auto;
    max-width: 45%;
    margin: 0 auto;
}

.reseller-logo img:hover {
    opacity: 1;
}

@media screen and (max-width:1000px) {
    #resellers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #resellers .section-title {
        background: unset;
        color: var(--brightBlue);
        text-align: center;
        padding: 80px 0;
    }

    #resellers>* {
        width: 90%;
        max-width: 500px;
    }

    #resellers .reseller-content {
        padding: 0 0 80px;
        width: 90%;
        max-width: 450px;
    }

    .reseller-content p {
        margin-bottom: 20px;
    }
}