@media screen and (min-width: 1400px) {
    #powderDetergents .products-grid {
        padding: 0;
        margin: 0 auto;
        justify-content: center;
    }

    .view-buttons {
        display: none;
    }
}

@media screen and (max-width: 1200px) {

    .hero {
        height: 90vh;
    }

    .socials-videos {
        gap: 12px;
    }

    .perk {
        margin-top: 50px;
        scale: .8;
    }

    #perks {
        gap: 50px;
    }

    #liquidDetergents {
        gap: 0;
    }

    #socials {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .trust-copy {
        text-align: center;
    }

    .trust-socials {
        justify-content: center;
    }

    #socials p {
        font-size: clamp(24px, 7vw, 40px);
        max-width: 500px;
        margin: 0 auto 30px;
        line-height: 1.2;
    }

    #blog-article .readable {
        font-size: 22px;
    }


}

@media screen and (max-width: 1024px) {
    .hero {
        height: 80vh;
    }

    .view-buttons {
        display: none;
    }

    .products-grid {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 100px;
        padding: 0;
    }

    #liquidDetergents {
        flex-direction: column;
    }

    .trust-copy p {
        max-width: 400px;
        margin: 0 auto 20px;
    }

    .trust-socials {
        justify-content: center;
    }

    .socials-videos {
        height: auto;
        margin: 0 auto;
    }

    .footer-column ul {
        gap: 0;
    }

    .footer-column li {
        height: 44px;
    }

    .footer-column-link {
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 44px;
    }

    #liquidDetergents h2 {
        align-self: flex-start;
    }

    #faq-content {
        padding-left: unset;
        padding-right: unset;
    }

    .article-grid,
    .faq-grid {
        grid-template-columns: 1fr;
        max-width: 750px;
        margin: 0 auto;
        gap: 80px;
    }

    .faq-item:nth-of-type(even) {
        margin-top: unset;
    }

    #products-panel {
        margin-bottom: 140px;
    }

    #perks {
        padding-bottom: 160px;
        padding-top: 160px;
        gap: 30px;
    }

    .perk {
        scale: .7;
        margin: 0;
    }

    #liquidDetergents {
        padding-top: 80px;
    }

    #socials {
        padding-top: 80px;
        padding-bottom: 80px;

    }

    .footer-social a,
    .trust-socials a {
        width: 40px;
        height: 40px;
    }

    .footer-social svg,
    .trust-socials svg {
        width: 100%;
        height: 100%;
    }

    .trust-socials {
        gap: 30px;
    }

    .products-list-panel {
        flex-direction: column;
        width: 100%;
    }

    .product-list-scrollable,
    .products-thumbs {
        width: 100%;
    }

    .product-list-scrollable-ctn {
        flex-direction: unset;
        width: fit-content;
        overflow: unset;
        border-radius: 20px;
    }

    .product-list-scrollable,
    .product-detail-panel {
        width: 100%;
        padding: 20px;
    }

    .product-list-scrollable {
        overflow: auto;
        scrollbar-width: none;
    }

    .product-thumb {
        width: 250px;
        height: 250px;
    }

    .products-thumbs {
        height: auto;
    }

    .product-badge.tag.badge-pill,
    .product-badge.tag {
        translate: -10px -20px;
        rotate: 0deg;
    }

    .products-layout {
        display: flex;
        flex-direction: column;
    }

    .products-preview {
        display: none;
    }

    #products-panel-section,
    #products-panel {
        padding: 0;
    }

    .products-category-toggle {
        padding: 0 20px;
    }

    #category-products-count {
        padding: 0 30px;
    }

    .conclude .article-section-intro-block,
    .conclude .article-section-block,
    .article-section-intro-block {
        width: 90%;
        max-width: 900px;
        margin: 0 auto 30px;
        text-align: left;

    }

    .conclude .article-section-block {
        padding-left: 0;
        padding-right: 0;
    }

    .left .article-section-content-block,
    .right .article-section-content-block {
        display: unset;
    }

    .right .article-section-content-block .article-section-block:first-of-type,
    .left .article-section-content-block .article-section-block:first-of-type,
    .right .article-section-content-block .article-section-block:last-of-type,
    .left .article-section-content-block .article-section-block:last-of-type {
        translate: unset;
        width: 90%;
        max-width: 900px;
        box-shadow: none;
        margin: 0 auto;
        padding: 30px 0;
    }

    .article-section {
        margin-bottom: 50px;
    }

    .section-subtitle {
        color: var(--black);
        opacity: .5;
    }

    .conclude {
        display: unset;
    }

    .article-section-block {
        box-shadow: none;
    }

    /* .left .article-section-content-block,
    .right .article-section-content-block {
        grid-template-columns: 1fr;
        grid-template-areas: "img"
            "block1"
            "block2"
    }

    .right .article-section-content-block .article-section-block:first-of-type,
    .left .article-section-content-block .article-section-block:first-of-type {
        translate: 0% -10%;
    }

    .right .article-section-content-block .article-section-block:last-of-type,
    .left .article-section-content-block .article-section-block:last-of-type {
        translate: 0 -10%;
    }

    .article-section-block {
        max-width: unset;
    }

    .right .article-section-content-block .article-section-block:first-of-type,
    .left .article-section-content-block .article-section-block:first-of-type,
    .right .article-section-content-block .article-section-block:last-of-type,
    .left .article-section-content-block .article-section-block:last-of-type {
        max-width: 650px;
        margin: 0 auto;
    } */
}


@media (max-width: 768px) {

    .product-name.section-headline {
        text-align: left;
    }

    .faq-grid {
        grid-template-columns: 1fr;
    }

    .footer-cta {
        padding: 0 50px;
        line-height: 74px;
    }

    .hero {
        height: 70vh;
    }

    .product-list-scrollable {
        overflow-x: auto;
        scrollbar-width: none;
        padding: 20px 20px 0;
        width: 100%;
        display: flex;
    }

    .products-thumbs {
        max-width: 100%;
        overflow: hidden;
    }


    .products-list-panel {
        width: 100%;
        overflow: hidden;
    }

    #products-panel {
        padding: 50px 0;
    }

    .product-thumb {
        background: none;
    }

    .products-layout {
        gap: 0;
    }

    #powderDetergents,
    #liquidDetergents {
        padding-left: 0;
        padding-right: 0;
    }

    .product-thumb:hover:not(.active) {
        background: none;
    }

    .products-grid {
        padding: 50px 0;

    }

    .full-description .contained {
        width: 100%;
        word-break: break-word;

    }

    h2 {
        margin-bottom: 0;
        text-align: center;
    }

    #about-content h2,
    .article-name,
    #faq-content h2 {
        text-align: unset;
        margin-bottom: 20px;
    }

    #liquidDetergents h2 {
        align-self: unset;
    }

    /* .product-list-scrollable-ctn {
        display: flex;
        background: #FFFFFF30;
        padding: 20px;
        border-radius: 4px;
    } */

    #product-detail,
    .product-list-scrollable {
        padding: 2.5vw;
    }

    #category-products-count {
        padding: 0 3vw;
    }

    .products-category-toggle {
        padding: 0 2.5vw;
    }

    #socials {
        padding-left: 0;
        padding-right: 0;
    }


    .socials-videos {
        padding-left: 0;
        padding-right: 0;
    }

    .socials-videos-srollable {
        width: 100%;
        overflow: auto;
        scrollbar-width: none;
    }

    .socials-videos {
        padding: 0 30px;
        display: flex;
        width: fit-content;
    }

    .socials-video {
        width: 300px;
        height: auto;
    }

    .socials-video .socials-video--sm,
    .socials-video .socials-video--md,
    .socials-video .socials-video--lg {
        flex-shrink: 0;
        height: 100%;
    }


    #perksWave {
        display: none;
    }

    #perks {
        background: var(--yellow);
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px 00;
        padding-bottom: 50px;
        padding-top: 50px;
        margin-top: 50px;

    }

    .perk svg {
        width: 120px;
        height: auto;
    }

    .perk {
        scale: 1;
    }

    section {
        padding: 50px 30px;
    }

    #products-panel-section {
        padding: 0 0 50px;
    }

    #products-panel {
        background: none;
        filter: unset;
        border: none;
    }

    .product-list-scrollable-ctn {
        border-radius: 20px;
    }

    .header-logo img {
        height: 70px;
    }

}


@media screen and (max-width: 575px) {

    .product-thumb {
        width: 180px;
        height: 180px;
    }

    #products-panel-section {
        padding: 0;
    }

    #products-panel {
        padding: 50px 0 0;
        border: none;
        margin: 0;
    }

    .product {
        width: 260px;
    }

    .product-img-container {
        width: 280px;
    }

    .products-grid {
        padding: 50px 11vw;
        flex-wrap: nowrap;
        width: 100%;
        overflow: auto;
        justify-content: unset;
        scrollbar-width: none;
    }

    #perks {
        grid-template-columns: 1fr;
    }

    .footer-links {
        flex-direction: column;
        padding: 0 20px;
    }

    .footer-column:first-of-type {
        text-align: unset;
    }

    #contact-modal {
        display: unset;
    }

    .contact-modal-panel {
        padding: 30px;
    }

    .contact-fields {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, auto);
    }

    .socials-videos {
        padding: 30px 16px;
    }

    section {
        padding: 50px 15px;
    }

    .footer-cta {
        align-self: center;
    }

    .footer-cta {
        padding: 0 40px;
        line-height: 64px;
    }


    .sliding-banner {
        height: 120px;
    }

    #blog-hero {
        padding-bottom: 30px;
    }

    .comment-card {
        padding: 0 30px;
    }

    .comments-grid,
    #comments {
        height: fit-content;
    }

    .socials-video {
        width: 260px;
    }

    .contained {
        margin: 50px auto;
    }

    .article-name {
        font-size: 24px;
    }

    .tag span:first-of-type {
        font-size: 24px;
    }

    .tag span:last-of-type {
        font-size: 18px;
    }

    .footer-column {
        width: 100%;
    }

}

@media screen and (max-width: 500px) {

    .intro {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .header-language-toggle,
    .mobile-menu-toggle {
        width: 44px;
        height: 44px;
    }

    .header-language-toggle {
        font-size: 16px;
    }

    .contact-type {
        flex-direction: column;
    }

    .contact-modal-panel {
        width: 100%;
    }

    .article-section {
        margin-bottom: 80px;
    }

    .header-right-btns {
        right: 10px;
    }

    .mobile-nav.header-logo {
        left: 10px;
    }

    .mobile-nav.header-logo img {
        height: 50px;
    }

    .product-label,
    .product-tab {
        padding: 10px 10px 12px;
        font-size: 20px;
    }

    .product-badge {
        font-size: 20px;
    }


    #blog-hero {
        padding-bottom: 0px;
    }

    .product-thumb {
        width: 200px;
    }

    .perk svg {
        margin-bottom: 12px;
    }

    .faq-grid,
    #perks {
        gap: 50px 0;
    }

    .header-logo img {
        height: 60px;
    }

    .contained h2 {
        font-size: 30px;
    }

    #faq-content h2 {
        font-size: 24px;
        text-align: left;
        margin-bottom: 12px;
    }

    .mobile-menu-nav {
        gap: 0;
    }

    .mobile-menu-nav a {
        line-height: 48px;
    }

    #powderDetergents h3,
    #liquidDetergents h3 {
        display: none;
    }

    #powderDetergents,
    #liquidDetergents {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    #liquidDetergents {
        margin-top: 0;
    }

}