@media screen and (min-width: 1400px) {
    .hero-product {
        position: unset;
        top: 60%;
        translate: unset;
    }

    .footer-logo {
        width: 250px;
    }
}

@media screen and (max-width: 1200px) {


    #about-page .wave-section-wrapper {
        background-image: url('../assets/img/jpg/liquid-large.jpg');
        background-image: url('../assets/img/webp/liquid-large-tablet.webp');
    }

    .best-seller-grid {
        grid-template-columns: 380px 1fr;
        padding: 200px 100px 120px;
        gap: 60px;
    }

    #home-hero {
        height: 80vh;
    }

    #otherLaundryPowders {
        padding-left: 15px;
        padding-right: 15px;
    }

    .best-seller-ctn {
        width: 100%;
    }

    .trust-community {
        grid-template-columns: 220px 1fr;
        padding: 60px 50px;
    }

    .trust-videos {
        grid-template-columns: 140px 160px 180px 140px;
        gap: 12px;
    }

    .trust-video--sm {
        height: 250px;
    }

    .trust-video--md {
        height: 290px;
    }

    .trust-video--lg {
        height: 320px;
    }

}

@media screen and (max-width: 1100px) {
    #liquidLaundryGrid {
        margin-top: 280px;
    }
}

@media screen and (max-width: 1024px) {
    .product-item .product-img-ctn .shadowing {
        display: none;
    }

    .hero-content {
        max-width: 500px;
    }

    .hero-subtitle {
        text-align: left;
    }

    .best-seller-grid {
        grid-template-columns: 1fr;
        padding: 80px 40px 60px;
        text-align: center;
    }

    .best-seller-ctn {
        max-width: 400px;
        width: 90%;
        height: auto;
        margin: 0 auto;
        position: relative;
        translate: -5% 0;
    }

    .best-seller-content h2 {
        width: unset;
    }

    .best-seller-grid {
        gap: 0;
    }

    .best-seller-content p {
        max-width: 400px;
        margin: 0 auto 20px;
    }

    .best-seller-content {
        text-align: center;
    }

    .best-seller-decorative-bg {
        scale: .8;
    }

    #otherLaundryPowders {
        padding: 100px 0 0;
    }

    .powder-grid-scrollable {
        overflow-x: scroll;
        padding: 0 30px;
        display: flex;
        scrollbar-width: none;
    }

    #powderScrollableTitle,
    #liquidLaundryResponsiveTitle {
        display: block;
        font-size: clamp(30px, 6vw, 80px);
        text-transform: uppercase;
    }

    .powders-grid {
        grid-template-columns: repeat(3, 330px);
        height: fit-content;
        gap: 160px;
        /* padding-bottom: 100px; */
        padding: 80px 120px 60px;
        background: #FFFFFF50;
        border-radius: 20px;
        border: 4px solid;
        backdrop-filter: blur(20px);
        margin-bottom: 50px;
    }

    .powders-bg-text {
        display: none;
    }

    .product-item-CTN,
    .product-item {
        width: 100%;
    }

    .product-item-CTN[data-pos="1"],
    .product-item-CTN[data-pos="2"],
    .product-item-CTN[data-pos="3"],
    .product-item-CTN[data-pos="1"] .product-item,
    .product-item-CTN[data-pos="2"] .product-item,
    .product-item-CTN[data-pos="3"] .product-item {
        position: unset;
        translate: unset;
        transform: unset;
        /* top: 0;
        left: 0; */
    }

    .product-item--featured {
        order: -1;
    }

    .product-item .product-img-ctn img,
    .product-item--featured .product-img-ctn img,
    #product5kg .product-img-ctn img {
        transform: none;
        width: 100%;
    }

    .footer-range-img {
        width: 90%;
    }


    .footer-right {
        width: 100%;
    }

    .footer-logo {
        margin-top: 0;
        width: 160px;
    }

    .products-layout {
        grid-template-columns: 1fr;
    }

    .products-preview {
        display: none;
    }

    .products-hint {
        opacity: 1;
    }

    #liquidLaundryGrid {
        margin-top: 200px;
    }

    .liquid-wave {
        top: -40px;
    }

    .liquid-bg-text {
        display: none;
    }

    .liquid-product {
        width: 100%;
        max-width: 400px;
        align-self: center;
    }

    .liquid-product img {
        width: 100%;
        margin-left: 0;
    }

    #liquidLaundry {
        padding-bottom: 100px;
    }

    .trust-copy p {
        max-width: 400px;
        margin: 0 auto 20px;
    }

    .trust-community {
        grid-template-columns: 1fr;
        padding: 80px 40px;
        text-align: center;
    }

    .trust-socials {
        justify-content: center;
    }

    .trust-videos {
        grid-template-columns: repeat(2, 1fr);
        height: auto;
        margin: 0 auto;
    }


    .comment-card--tall {
        transform: none;
    }

    .comment-cloud {
        max-width: 380px;
    }

    #comments h2 {
        text-align: center;
        padding-right: 0;
    }

    .footer-column ul {
        gap: 0;
    }

    .footer-column li {
        height: 40px;
    }

    .footer-column-link {
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 40px;
    }

    #faq-content {
        padding-left: unset;
        padding-right: unset;
    }

    .faq-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, auto);
        max-width: 750px;
        margin: 0 auto;
        width: 90%;
        gap: 80px;
    }

    .faq-item:nth-of-type(even) {
        margin-top: unset;
    }

    #products-panel {
        margin-bottom: 140px;
    }
}

@media (max-width: 900px) {
    .product-item .product-details h3 {
        font-size: 30px;
    }


    #liquidLaundryGrid {
        margin-top: 160px;
        padding-bottom: unset;
        gap: 50px;
    }

}

/* @media (max-width: 900px) {
    .product-item .product-details h3 {
        font-size: 30px;
    }

} */

@media (max-width: 850px) {
    #intro {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .intro-block {
        max-width: 450px;
    }

    #maximumEfficiency {
        margin: 0 0 0 auto;
    }

    .range-img {
        width: 100%;
    }

}

@media (max-width: 768px) {
    #about-page .wave-section-wrapper {
        background-image: url('../assets/img/jpg/liquid-large.jpg');
        background-image: url('../assets/img/webp/liquid-large-mobile.webp');
    }

    #blog-hero {
        padding-bottom: 50px;
    }

    .faq-hero-product {
        height: clamp(140px, 22vw, 220px);
    }

    .drop-CTN {
        scale: .7;
    }

    .faq-grid {
        grid-template-columns: 1fr;
    }

    .footer-range-img {
        width: 100%;
    }

    .footer-cta {
        padding: 0 50px;
        line-height: 74px;
    }

    #home-hero {
        height: 70vh;
    }

    .product-badge {
        translate: -5px 5px;
        rotate: unset;
    }

    .product-list-scrollable {
        overflow-x: auto;
        scrollbar-width: none;
        padding: 20px 20px 0;
        width: 100%;
        display: flex;
    }

    .powders-grid {
        grid-template-columns: repeat(3, 300px);
        padding: 40px 80px;
        gap: 80px;
        margin: 0;
    }

    .product-thumb {
        width: 250px;
    }

    .products-thumbs {
        max-width: 100%;
        overflow: hidden;
    }


    .products-list-panel {
        width: 100%;
        overflow: hidden;
    }

    #products-panel {
        padding: 50px 0;
    }

    .product-thumb {
        background: none;
    }

    .products-hint,
    .product-detail-panel {
        width: 95%;
        margin: 0 auto;
    }

    .products-layout {
        gap: 0;
    }

    .product-thumb:hover:not(.active) {
        background: none;
    }

    .product-list-scrollable-ctn {
        display: flex;
        background: #FFFFFF30;
        padding: 20px;
        border-radius: 4px;
    }

    .product-list-scrollable {
        padding-left: 2.5vw;
    }

    #products-page .hero-content {
        margin-bottom: 0;
    }

    #intro {
        display: flex;
        flex-direction: column;
        /* padding: 0 30 60px; */
        gap: 50px;
    }

    #maximumEfficiency {
        margin: 0;
    }

    .intro-block {
        max-width: 500px;
    }

    .liquid-product {
        grid-area: image;
        margin: 0 auto;
    }

    .liquid-product .reflected {
        display: none;
    }

    .liquid-content {
        grid-area: content;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .liquid-content p {
        text-align: center;
    }

    #liquidLaundryResponsiveTitle {
        grid-area: title;
        position: unset;
        filter: drop-shadow(0 0 10px #00000030);
        translate: unset;
    }

    .liquid-wave {
        display: none;
    }

    .trust-community {
        padding-left: 0;
        padding-right: 0;
    }

    .trust-videos-scrollable-ctn {
        width: 100%;
        overflow: hidden;
    }

    .trust-videos-srollable {
        width: 100%;
        overflow: auto;
        scrollbar-width: none;
    }

    .trust-videos {
        padding: 0 30px;
    }

    .trust-video {
        width: 300px;
        height: 500px;
    }

    .trust-video--sm .trust-video--md .trust-video--lg {
        height: 100%;
    }

    .footer-logo {
        width: 120px;
    }

    .footer-inner {
        align-items: flex-end;
    }

    .footer-links {
        flex-direction: column;
    }

    section,
    #bestSeller {
        padding: 50px 30px;
    }

    #laundryPowders {
        padding: 50px 0 0;
    }

    #liquidLaundryGrid {
        position: relative;
        overflow: hidden;
        border: 4px solid;
        border-radius: 20px;
        background: radial-gradient(var(--mint), hsl(from var(--sky) h s l /90%) 70%);
        backdrop-filter: blur(20px);
        padding: 100px 40px 40px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            /* 'title' */
            'image'
            'content';
        margin: 0;
        align-items: unset;
        gap: 24px;
    }

    #liquidLaundryGrid>* {
        position: relative;
        z-index: 2;
    }

    #liquidLaundryResponsiveTitle {
        filter: unset;
        position: absolute;
        top: 20px;
        left: 20px;
    }

    .best-seller-ctn {
        max-width: 350px;
    }

    #products-panel-section {
        padding: 0 0 50px;
    }

    #products-panel {
        background: none;
        filter: unset;
        border: none;
    }

    .product-list-scrollable-ctn {
        border-radius: 20px;
    }

    .best-seller-decorative-bg {
        scale: .6;
    }

}


@media screen and (max-width: 575px) {
    #home-hero {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
        text-align: center;
        height: unset;
        padding: 80px 15px;
    }

    .products-hint {
        font-size: 14px;
    }

    #product-hero .hero-subtitle {
        margin-bottom: 40px;
    }

    #products-panel {
        margin-bottom: 80px;
    }

    .cta-button {
        font-weight: 400px;
        padding: unset;
        width: 300px;
    }

    #products-panel {
        padding: 0;
        border: none;
    }

    #liquidLaundryResponsiveTitle {
        left: 50%;
        translate: -50% 0;
        white-space: nowrap;
    }

    #home-hero h1 {
        font-size: clamp(3.5rem, 14vw, 136px);
    }

    .intro-block h2,
    .best-seller-content h2 {
        font-size: clamp(3rem, 12vw, 136px);
    }

    #intro {
        padding-bottom: 0;
    }

    #bestSeller,
    #otherLaundryPowders {
        padding-left: 15px;
        padding-right: 15px;
    }

    .powders-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        padding: 40px 0;
        gap: 30px;
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
    }

    #contact-modal {
        display: unset;
    }

    .contact-modal-panel {
        padding: 30px;
    }

    .contact-fields {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, auto);
    }

    #liquidLaundryGrid {
        max-width: 450px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        grid-template-columns: 100%
    }

    .liquid-content {
        width: 100%;
    }

    .liquid-content h3 {
        font-size: 30px;
    }

    .trust-videos {
        padding: 30px 30px 30px 16px;
    }

    section,
    .footer-inner {
        padding: 50px 15px;
    }

    .footer-inner {
        padding: 50vw 20px 50px;
        margin: 0 auto;
        width: 100%;
    }

    .footer-cta {
        align-self: center;
    }

    .powder-grid-scrollable {
        padding: 0;
    }

    #powderScrollableTitle {
        position: unset;
        text-align: center;
    }

    .product-item-CTN {
        width: 300px;
        margin: 0 auto 80px;
    }

    .product-item-CTN:last-of-type {
        margin-bottom: 0;
    }

    .hero-product {
        position: relative;
        translate: unset;
        width: 90%;
        max-width: 360px;
        height: fit-content;
    }

    .hero-product picture:last-of-type {
        position: absolute;
        bottom: 0;
        left: 0;
        translate: 0 100%;
        width: 100%;
    }

    .hero-text .hero-subtitle {
        text-align: center;
    }

    .best-seller-decorative-bg {
        scale: .5;
    }

    .best-seller-grid {
        padding: 60px 24px 40px;
    }

    .product-item .product-img-ctn {
        width: 90%;
    }

    .footer-cta {
        padding: 0 40px;
        line-height: 64px;
    }

    #product-hero {
        padding-top: 100px;
    }

    #availabilityBanner,
    #trustBanner,
    #resellersBanner {
        height: 80px;
    }

    .trust-videos {
        grid-template-columns: 1fr;
    }

    #blog-hero {
        padding-bottom: 30px;
    }

    /* .trust-video--sm,
    .trust-video--md,
    .trust-video--lg {
        height: 240px;
    } */

    .comment-card {
        padding: 80px 24px;
    }

    .best-seller-ctn {
        max-width: 300px;
    }

    .best-seller-badge {
        font-size: 20px;
    }

    #home-hero .drop-fr::before {
        /* translate: 0 2vw; */
        background: center/contain no-repeat url('../assets/svg/h1-mobile.svg');
    }

    #home-hero .drop-en::before {
        /* translate: 0 2vw; */
        background: center/contain no-repeat url('../assets/svg/h1-en-mobile.svg');
    }

    .hero-text {
        max-width: unset;
    }

    .hero-text:has(.drop-fr),
    #home-hero .drop-fr::before,
    #home-hero .drop-en::before {
        translate: unset;
    }

    #home-hero h1 {
        margin: 0;
    }


    .reflected {
        opacity: .3;
    }

    .hero-text:has(.drop-fr) {
        translate: unset;
    }

}

@media screen and (max-width: 500px) {

    .intro {
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .header-language-toggle,
    .mobile-menu-toggle {
        width: 44px;
        height: 44px;
    }

    .contact-type {
        flex-direction: column;
    }

    .contact-modal-panel {
        width: 100%;
    }

    .article-section {
        margin-bottom: 80px;
    }

    #comments {
        padding: 0;
    }

    .header-right-btns {
        right: 10px;
    }

    .mobile-nav.header-logo {
        left: 10px;
    }

    .mobile-nav.header-logo img {
        height: 50px;
    }

    .product-label,
    .product-tab {
        padding: 10px 10px 12px;
        font-size: 16px;
    }

    .product-badge {
        font-size: 20px;
    }

    .product-features li,
    .product-tab-content {
        font-size: 16px;
    }

    #blog-hero {
        padding-bottom: 0px;
    }

    .product-thumb {
        width: 200px;
    }

    #purepowerRange {
        padding: 50px 0 0;
    }

}