@font-face {
    font-family: 'HK Grotesk Wide';
    src: url('../assets/font/HKGroteskWide-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Wide';
    src: url('../assets/font/HKGroteskWide-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Wide';
    src: url('../assets/font/HKGroteskWide-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Wide';
    src: url('../assets/font/HKGroteskWide-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Wide';
    src: url('../assets/font/HKGroteskWide-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Wide';
    src: url('../assets/font/HKGroteskWide-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Wide';
    src: url('../assets/font/HKGroteskWide-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'HK Grotesk Wide', sans-serif;
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: clamp(2.75rem, 9vw, 7rem);
}

h2 {
    font-size: clamp(2.5rem, 6.8vw, 5.5rem);
}

h3 {
    font-size: clamp(1.5rem, 3vw, 2.25rem);
}

h4 {
    font-size: clamp(1.125rem, 2vw, 1.5rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {

    line-height: 1;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}