@font-face {
    font-family: 'HK Grotesk Wide';
    src: url('../assets/font/HKGroteskWide-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Wide';
    src: url('../assets/font/HKGroteskWide-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Wide';
    src: url('../assets/font/HKGroteskWide-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Wide';
    src: url('../assets/font/HKGroteskWide-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Wide';
    src: url('../assets/font/HKGroteskWide-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Wide';
    src: url('../assets/font/HKGroteskWide-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HK Grotesk Wide';
    src: url('../assets/font/HKGroteskWide-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument extended';
    src: url('../assets/font/PPMonumentExtended-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* @font-face {
    font-family: 'Monument extended';
    src: url('../assets/font/PPMonumentExtended-Heavy.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
} */

/* @font-face {
    font-family: 'Monument wide';
    src: url('../assets/font/PPMonumentWide-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument wide';
    src: url('../assets/font/PPMonumentWide-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Monument wide';
    src: url('../assets/font/PPMonumentWide-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
} */


h1,
h2,
h3,
h4,
h5 {
    font-family: "Titan One", sans-serif;
    color: var(--signature);
    text-transform: uppercase;
    line-height: 100%;
    font-weight: 400;
}

h1 {
    font-size: clamp(2.1rem, 5.5vw, 170px);
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
}

h2 {
    font-size: clamp(60px, 7vw, 80px);
    margin-bottom: 80px;
}