:root {
    --bgColor: #02399A;
    --brightBlue: #39B7FF;
    --yellow: #FDD835;
    --electricBlue: #2040EC;
    --pink: #F96CDA;
    --white: #FFFFFF;
    --lightGrey: #CBDFEE;
    --black: #000000;
    --lightBlack: #444444;
    --homepage-intro-pb: 100px;
    --wave-section-y-offset: -150px;
}

@media screen and (max-width: 1200px) {
    :root {
        --wave-section-y-offset: -100px;
    }
}